/* NUEVO */

/* para descatar una fila de una tabla en la que hago click */
	.highlight {font-size: 1.2em !important; background-color: burlywood !important; border: 2px solid;}

.col-xs-1, .col-sm-1, .col-sm-1b, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 3px !important;
  padding-left: 3px !important;
}
.thumbnail .caption {
  padding: 5px 0px !important;
}
.thumbnail {
  /**** padding: 4px 4px 0 4px !important; quito el 01/03/2018 */
 padding: 0px !important; 
}
.col-sm-1b {
	width: 12.5% !important;
}

h1, .h1 { font-size:36px !important;}

/*** BUSCAR tituloS DE JUEGOS CON AUTOCOMPLETAR DE AJAX ***/
.bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 0px;
}
.titulo, .tt-query, .tt-hint {
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	font-size: 14px;
	height: 16px;
	line-height: 16px;
	outline: medium none;
	padding: 4px 4px;
	width: 300px;
}
.titulo {
	background-color: #FFFFFF;
}
.titulo:focus {
	border: 1px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 2px;
	padding: 4px 0;
	width: 300px;
}
.tt-suggestion {
	font-size: 14px;
	line-height: 16px;
	padding: 3px 4px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}

.consola { background-color:#e6e6e6;
    border-radius: 2px;
	padding: 2px 4px;
	margin: 3px 0;
	}
.ps3 {color: #ccc !important;}
.ps4 {color: #0084cc !important;}
.ps {color:#666 !important}

/*** BUSCAR TITULOS DE JUEGOS CON AUTOCOMPLETAR DE AJAX ***/
.bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 0px;
}
.titulo, .tt-query, .tt-hint {
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	font-size: 14px;
	height: 16px;
	line-height: 16px;
	outline: medium none;
	padding: 4px 4px;
	width: 300px;
}
.titulo {
	background-color: #FFFFFF;
}
.titulo:focus {
	border: 1px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 2px;
	padding: 4px 0;
	width: 300px;
}
.tt-suggestion {
	font-size: 14px;
	line-height: 16px;
	padding: 3px 4px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
/* estilo masonry a clientes_detalles.php para mostar las ventas */
.clientes_detalles div:nth-child(4),.clientes_detalles div:nth-child(8),.clientes_detalles div:nth-child(12),.clientes_detalles div:nth-child(16),.clientes_detalles div:nth-child(20),.clientes_detalles div:nth-child(24),.clientes_detalles div:nth-child(28),.clientes_detalles div:nth-child(32),.clientes_detalles div:nth-child(36),.clientes_detalles div:nth-child(40) {
    clear: both;
}
/* boton para agregar stock repetido en cuentas_insertar.php */
.btn-cuenta {
	background:#aaa;
    color:#fff;
    border-radius:8px;   
    padding:0.4em;
    margin:0.1em;
    cursor:pointer;}
/* acomodo el tamaño del selector de clientes en insertar venta manual */
.twitter-typeahead, .tt-menu{width:100%;}
.tt-menu {background-color: #BBBBBB;text-align: left; color: #434A54;}

/* acomo el modal para ver las notas */
.modal  {
padding-right: 0px;
background-color: rgba(4, 4, 4, 0.4); 
}
.modal-dialog {
top: 20%;
width: 100%;
position: absolute;
}
.modal-content {
border-radius: 0px;
border: none;
top: 40%;
}
.modal-body {
color: white;
}
.modal-dialog{ margin: 60px auto;}